<html>
  <head>
    <meta charset='UTF-8' />
    <title>Account Created</title>
  </head>
  <body>
    <p>Dear {{fullName}},</p>
    <br />
    <p>
      You have a new account on
      <strong><a href='https://drs.scidar.org'>SCIDaR DRS Platform</a></strong>.
    </p>
    <br />
    <p>To access the platform kindly reset your password using the following
      link:</p>
    <p><a href='{{passwordResetLink}}'>Reset Password</a></p>
    <br />
    <p>Thank you.</p>
    <p>Best regards,
      <br />
      <strong>SCIDaR</strong>
    </p>
  </body>
</html>